name: Validate schema

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
    - run: npm install -g ajv-cli ajv-formats
    - run: ajv compile --spec draft2020 -c ajv-formats -s schemas/**/schema.json

  update-latest-schema:
    runs-on: ubuntu-latest
    needs: validate
    if: github.event_name == 'push'
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: Overwrite latest.json
      run: cp schemas/v1/schema.json schemas/latest.json
    - name: Commit schema changes (if any) to latest.json
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: "Update latest.json from v1/schema.json"
        file_pattern: schemas/latest.json
